
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <% if flash[:danger] %>
                <div class="alert alert-danger" role="alert"><%= flash[:danger] %></div>
                <% end %>
                <h3 class="login-heading mb-4">Welcome back!</h3>
                 <%= form_tag("login", method: "post") do %>
                  <div class="form-label-group">
                   <%= text_field_tag :username, params[:username], id:"username", class:"form-control", placeholder:"username", require: true, autofocus: true %>
                   <%= label_tag(:username, "username:") %>           
                   </div>
                   <div class="form-label-group">
                   <%= text_field_tag :password, params[:password], id:"password", class:"form-control", placeholder:"password", require: true, autofocus: true %>
                   <%= label_tag(:password, "password:") %>           
                   </div>
                    <%= submit_tag :login, class:"btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>