<h1>New Photo</h1>

<%= form_tag("/posts", method: "post") do %>
 <p>Title : <%=  text_field_tag(:title) %>
<p>Url :<%= text_field_tag(:image_url) %>
<p>iso :<%= text_field_tag(:iso) %>
<p>shutterspeed :<%= text_field_tag(:shutterspeed) %>
	<p>aperture :<%= text_field_tag(:aperture) %>
 <%= submit_tag("create") %>
<% end %>

